.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)),url('../../assets/hero.PNG');
    background-size: cover; /* Assurez-vous que l'image couvre toute la zone */
    background-repeat: no-repeat; /* Empêche l'image de se répéter */
    background-position: center; /* Centre l'image */
    color:#fff;
    display: flex;
    align-items:center;
    justify-content:center;
}
.hero-text{
    text-align: center;
    max-width: 800px;
}
.hero-text h1{
    font-size: 60px;
    font-weight:600 ;
    
}
.hero-text p{
    max-width: 700px;
    margin:10px auto 20px;
    line-height:1.4;
}
