.faculte{
    margin:80px auto;
    width:90%;
    text-align:center
}

.gallery{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:40px;
}

.gallery img{
    width:23%;
    border-radius:10px;
    height:148px;
}
.btn1{
    background:rgb(7,33,81) ;
    color:#212121;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor:pointer;
    border:0;
    outline: 0;
    display:inline-flex;
    align-items:center;
    justify-content: center;
    color:white;
  }