@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding:0;
  margin: 0;
  box-sizing:border-box;
  font-family: "Outfit", sans-serif;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#F5F5F5;
}

a{
  text-decoration: none;
  color:inherit;
  line-height: 1;
  cursor: pointer;
}
.container{
  padding-left: 20%;
  padding-right: 10%;
}
.btn{
  background:#fff;
  color:#212121;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor:pointer;
  border:0;
  outline: 0;
  display:inline-flex;
  align-items:center;
  justify-content: center;
}
.img1 {
  width: 50px; /* Largeur de l'image */
  height: auto; /* Hauteur automatique pour conserver les proportions */
  max-width: 100%; /* La largeur maximale de l'image est égale à la largeur du conteneur */
  max-height: 150px; /* La hauteur maximale de l'image est de 200px */
  object-fit: contain; /* Redimensionne l'image pour s'adapter tout en conservant les proportions */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
